# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env

# Logs
*.log

# Databases
*.sqlite3

# OS-specific
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/

# Build/Packaging
dist/
build/
*.egg-info/
